<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
    <h1>글쓰기</h1>
    <form action="/board/insert" method="post">
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" rows="5" cols="40"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <button type="submit">등록</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <!-- /board/insert?error ➡ #{param.error}-->
        <th:block th:if="${ param.error }">
            <span style="color: red;">게시글 등록 실패</span>
        </th:block>
    </div>
    <h1 th:text="${param.error}"></h1>
    
    <script th:inline="javascript">
        const error = [[${ param.error }]]
        if ( error )
            alert("글쓰기 실패!")
    </script>
</body>
</html>