<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회</title>
</head>
<body>
    <h1>조회</h1>
    <a th:href="@{ /board/update(no=${board.no}) }">수정</a>

    <!-- 
        🟡 th:object=${객체}
                : 상위 태그에서 객체를 등록하고, 하위 태그에서 변수만 출력하게 할 수 있다.
                th:??=*{변수} 형식으로 상위 객체의 값을 출력 
    -->
    <table border="1" th:object="${board}">
        <tr>
            <td width="100">제목</td>
            <td width="300">
                <!-- <span th:text="${board.title}">제목</span> -->
                <span th:text="*{title}">제목</span>
            </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td width="300">
                <!-- <span th:text="${board.writer}">작성자</span> -->
                <span th:text="*{writer}">작성자</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <!-- <p th:text="${board.content}"></p> -->
                <p th:text="*{content}"></p>
            </td>
        </tr>
    </table>
</body>
</html>