<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.security.mapper.PostMapper">

    <!-- join -->
    <resultMap id="PostMap" type="Posts">
        <id property="no" column="no"/>
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="content" column="content"/>
        <id property="userNo" column="user_no"/>
        <id property="createdAt" column="created_at"/>
        <id property="updatedAt" column="updated_at"/>

        <association property="user" select="selectUser" column="user_no" javaType="Users"></association>

    </resultMap>



    <!-- 목록 -->
    <!-- <select id="list" resultType="Posts"> -->
    <select id="list" resultMap="PostMap">
        SELECT *
        FROM posts
        ORDER BY no DESC
    </select>

    <!-- 페이징 목록 -->
    <!-- <select id="page" resultType="Posts"> -->
    <select id="page" resultMap="PostMap">
        SELECT *
        FROM posts
        ORDER BY no DESC
        LIMIT #{index}, #{size}
    </select>

    <!-- 조회 -->
    <select id="select" resultType="Posts">
        SELECT *
        FROM posts
        WHERE no = #{no}
    </select>

    <!-- 조회 - id -->
    <select id="selectById" resultType="Posts">
        SELECT *
        FROM posts
        WHERE id = #{id}
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO posts ( id, title, user_no, content )
        VALUES ( #{id}, #{title}, #{userNo}, #{content} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE posts
           SET title = #{title}
              ,writer = #{writer}
              ,content = #{content}
        WHERE no = #{no}
    </update>
    <!-- 수정 - id -->
    <update id="updateById">
        UPDATE posts
           SET title = #{title}
              ,content = #{content}
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM posts WHERE no = #{no}
    </delete>
    <!-- 삭제 -id -->
    <delete id="deleteById">
        DELETE FROM posts WHERE id = #{id}
    </delete>

    <!-- 데이터 수 -->
    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM posts
    </select>

    <!-- 회원 조회 -->
    <select id="selectUser" resultType="Users">
        SELECT *
        FROM User
        WHERE no = #{user_no}
    </select>


</mapper>