<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록</title>
</head>
<body>
    <h1>목록</h1>
    <div>
        <a href="/posts/create">글쓰기</a>
    </div>
    <table border="1">
        <tr>
            <th width="50">번호</th>
            <th width="320">제목</th>
            <th width="200">작성자</th>
            <th width="200">등록일자</th>
        </tr>
        <th:block th:if="${ list == null || list.isEmpty() }">
            <tr>
                <td colspan="4" align="center">조회된 데이터가 없습니다.</td>
            </tr>
        </th:block>
        <th:block th:each=" post : ${list}">
            <tr>
                <td><th:block th:text="${post.no}"></th:block></td>
                <td>
                    <!-- 방법 1 : |문자열 + 표현식| : 문자열 결합 방식-->
                    <a th:href="|/posts/read/${post.no}|" th:text="${post.title}"></a>

                    <!-- 방법 2 : @{URL/{변수}(변수=${값})} : URL 바인딩 방식(PathVariable)-->
                    <!-- <a th:href="@{/posts/read/{no}(no=${post.no}) }" th:text="${post.title}"></a> -->
                </td>
                <td><th:block th:text="${post.writer}"></th:block></td>
                <td><th:block th:text="${ #dates.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></th:block></td>
            </tr>
        </th:block>
    </table>
</body>
</html>